.card-hangman-game{
width: 90%;

}

#victory, #game-over, #btn-reload{
    display: none;
}

#game{
    display: flex;
align-items: center;
gap: 20px;
}

#game-text {
    text-align: center;
}

#game-image {
    border: 1px solid var(--color2);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#key-contain{
    display: flex;
}